body {
  margin: 0%;
  padding: 0%;
  background-color: black;;
  color: white;
}
/* src/App.css */
.App {
  text-align: center;
  margin: 0 auto;
  max-width: 800px;
}

form {
  margin: 20px 0;
}

form input, form button {
  display: block;
  margin: 10px;
  padding: 10px;


  border-radius: 10px;
  border: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2 {
  margin-top: 20px;
}

button {
  cursor: pointer;
}
